<body>
    <header>
        <h1 class="app-title">Angular Node App</h1>
    </header>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="/register" routerLinkActive="active" ariaCurrent="page">Cadastro</a>
            </li>
            <li class="nav-item">
                <a routerLink="/app-tela-usuarios" routerLinkActive="active" ariaCurrent="page">Lista de Usuários</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
        <div *ngIf="divService.getShowDiv()" class="background">
            <div class="background-image"></div>
            <p class="center">Olá, Usuário</p>
            <div class="container">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</body>