<div class="container">
    <h1 class="app-title">Detalhes do Usuário</h1>
    <p class="app-info">Nome: {{ usuario[0]?.nome }}</p>
    <p class="app-info">CPF: {{ usuario[0]?.cpf }}</p>
    <p class="app-info">Telefone: {{ usuario[0]?.telefone }}</p>
    <p class="app-info">Data de Nascimento: {{ usuario[0]?.dataNascimento }}</p>
    <p class="app-info">Data de hoje: {{ dataHoje | date: 'dd/MM/yyyy' }}</p>

    <h2 class="app-title">Gráfico</h2>
    <div class="grafico">
        <div *ngFor="let valor of grafico" class="barra" [style.height.%]="valor"></div>
    </div>
    <h2 class="app-title">Simple</h2>
    <app-bar-chart></app-bar-chart>
</div>